@import "../../styles/variables";

.container {
  position: absolute;
  left: calc(50% - 150px);
  top: 100px;
  width: 300px;
  height: 80px;
  padding: 20px 40px;
  background-color: #ffffff;
  border: $coral 2px solid;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error {
  text-align: center;
  font-size: 18px;
}