.container{
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
  justify-items: center;
  @media screen and (max-width: 768px){
    gap: 16px;
    grid-template-columns: 1fr;
  }
}